<div class="flex justify-end">
  <div class="inline-flex flex-row items-center" data-controller="empty-switcher" data-empty-switcher-default-checked-value="false">
    <input type="checkbox" id="empty_switcher" name="empty_switcher" class="rounded mr-1 focus:outline-none" data-action="empty-switcher#clicked" data-empty-switcher-target="input">
    <label for="empty_switcher"><%= t(:show_only_free_capacity) %></label>
  </div>
</div>