<div class="mb-4">
  <span class="text-xl font-bold md:hidden block"><%= title %></span>
  <div>
    <div class="md:block hidden">
      <%= render 'dashboard/moms/header', title: title, test_dates: @test_dates %>
    </div>
    <%= render partial: 'dashboard/moms/mom', collection: moms %>
  </div>
</div>