APP_TITLE=Slovakia COVID-19 Nationwide testing dashboard
UPDATE_TEST_DATE_SNAPSHOTS_INTERVAL=15
UPDATE_TEST_DATE_SNAPSHOTS_RATE_LIMIT=1
CACHED_CONTENT_EXPIRATION_MINUTES=15
CACHED_CONTENT_STALE_MINUTES=1
MAKE_RESERVATION_URL=https://www.old.korona.gov.sk/covid-19-patient-form.php