<div class="flex lg:flex-row flex-col mb-1 lg:h-8">
  <div class="flex flex-col lg:mb-2 lg:max-w-sm w-full">
    <h3 class="text-xl font-bold"><%= title %></h3>
  </div>
  <div class="flex items-stretch w-full">
    <% test_dates.map do |test_date| %>
      <div class="w-full flex flex-col items-center justify-center text-center text-sm">
        <span><%= l test_date.date, format: '%a' %></span>
        <span><%= l test_date.date, format: '%d %b' %></span>
      </div>
    <% end %>
  </div>
</div>
