<span class="text-blue-600 bg-blue-100 block px-4 py-2 border-l-4 border-blue-600 rounded-r-xl mb-4">
  <strong class="text-blue-600"><%= t(:announcement_title) %></strong><br/>
  <%= content %>
</span>
