<div class="flex flex-col text-sm italic lg:mb-0 mb-2 mt-4">
  <div class="flex flex-col lg:flex-row lg:justify-end">
    <span class="lg:mr-1"><%= t(:last_updated_at) %> <%= l last_updated_at, format: :long %></span>
  </div>
  <%= t(:update_period_info_html, minutes: update_interval) %>
</div>