<div class="flex items-center">
<!--  <span class="text-green-400 text-2xl animate-pulse mx-2">&ofcir;</span>-->
  <div class="flex flex-col text-base md:text-xs">
    <span>
      <%= t(:last_updated_at, time: l(last_updated_at, format: :long)) %>
    </span>
    <span>
    <%= t(:update_period_info_html, every_minutes: t(:every_minutes, count: update_interval)) %>
    </span>
  </div>
</div>
