<a
  data-controller="jump-to-top"
  data-jump-to-top-target="trigger"
  data-jump-to-top-trigger-offset-value="200"
  data-jump-to-top-scrolled-class="translate-x-0"
  data-jump-to-top-ontop-class="translate-x-full"
  href="#"
  class="fixed transform translate-x-full bottom-20 right-0 w-14 h-14 rounded-l-full bg-blue items-center justify-start pl-6 md:flex transition duration-700 ease-in-out"
>
  <svg xmlns="http://www.w3.org/2000/svg" width="12.188" height="16" viewBox="0 0 12.188 16">
    <path d="M285.524,5949.07H292a.379.379,0,0,0,.381-.38v-2.667a1.529,1.529,0,0,1,2.6-1.082l4.572,4.572a1.535,1.535,0,0,1,0,2.163l-4.572,4.571a1.53,1.53,0,0,1-2.6-1.082V5952.5a.379.379,0,0,0-.381-.381h-6.477a1.524,1.524,0,1,1,0-3.047Z" transform="translate(-5944.5 300) rotate(-90)" fill="#fff"/>
  </svg>
</a>
