<span class="<%= classes %> pl-2 pr-4 py-4 rounded-xl flex items-center">
  <span class="text-4xl md:px-4 px-2 py-2">️<%= icon %></span>
    <span class="text-xs leading-relaxed">
      <%= content %>
    </span>
  </span>
