<div class="mx-auto flex md:flex-row flex-col justify-center items-center text-gray text-sm">
  <%= link_to 'https://www.freevision.sk', target: '_blank', class: 'mr-1' do %>
    <%= image_tag 'freevision_logo_horizontal.png', title: 'freevision.sk logo', style: 'height: 40px;' %>
  <% end %>
  <%= t(:promo_html) %>
</div>
