<a id="list" class="anchor -top-28"></a>
<div class="mb-8 <%= classes %>">
  <a id="<%= region_dom_id %>" class="anchor"></a>
  <h2 class="text-lg font-bold uppercase text-gray-500"><%= title %></h2>
  <div class="mt-2">
    <%= render Dashboard::CountyPlacesComponent.with_collection(counties, places_by_county: places_by_county, plan_dates: plan_dates) %>
  </div>
</div>
