<% content_for :title do t('about.title') end %>

<div class="prose max-w-none">
  <div class="text-center text-xl italic">Snažíme sa pomáhať v situáciách, kedy vidíme, že štátny systém nefunguje.</div>
  <p>
    Sme občianska iniciatíva, tím developerov spoločnosti freevision.sk, ktorí sa z vlastnej vôle rozhodli zakročiť tam, kde nefunguje štát.<br/>
  </p>
  <p>
    Koronakríza nás všetkých hlboko zasiahla, a to na rôznych úrovniach života. Vo freevision sa nevieme nečinne prizerať a nekonať. Rozhodli sme sa využiť naše dlhoročné programátorské zručnosti a komunikačné schopnosti, aby sme pre občanov Slovenskej republiky sprehľadnili a zjednodušili frustrujúce objednávanie na očkovanie a testovanie počas pandémie COVID-19.
  </p>
  <h2>O štúdiu freevision</h2>
  <%= image_tag 'freevision_team.jpg', title: 'tím freevision', class: 'rounded-xl' %>
  <p>
    Vo freevision si ctíme tímovú spoluprácu, vďaka ktorej vyvíjame tie najmodernejšie mobilné a web aplikácie. V súčasnosti má naše štúdio deväť stálych členov. Sme nadšenci najmodernejších digitálnych technológií, vďaka ktorým vieme vyvíjať intuitívne a bezpečné mobilné a webové aplikácie, ktoré integrujeme tak, aby inovovali už zabehnuté postupy.
  </p>
  <p>
    Značka freevision však nie je len o seniorných programátorských skúsenostiach a technológiách. Je predovšetkým o ľuďoch. Nie sme iba kolegovia, sme jeden tím, v ktorom sa radi smejeme, hráme hry a užívame si čas strávený prácou na projektoch, ktoré nás bavia. Jedným z nich je aj tento projekt, na ktorom sme s nadšením pracovali a teší nás veľmi pozitívna odozva širokej verejnosti.
  </p>
  <div class="text-center text-xl font-bold">Plánujete novú aplikáciu? Veľmi radi vám pomôžeme s jej prípravou, vývojom a uvedením na trh.</div>
</div>
<div class="text-center my-8">
  <a href="https://www.freevision.sk" target="_blank" class="button text-white">Kontaktujte nás</a>
</div>
