<% content_for :title do "Cookies policy" end %>

<div class="prose max-w-none">
  <h2>Súbory cookies</h2>
  <p>
    S cieľom zabezpečiť riadne fungovanie tejto webovej stránky ukladáme niekedy
    na vašom zariadení malé dátové súbory, tzv. cookies.
  </p>
  <h2>Čo sú súbory cookies?</h2>
  <p>
    Súbor cookie je malý textový súbor, ktorý webová stránka ukladá vo vašom
    počítači alebo mobilnom zariadení pri jej prehliadaní. Vďaka tomuto súboru
    si webová stránka na určitý čas uchováva informácie o vašich krokoch a
    preferenciách, takže ich pri ďalšej návšteve alebo prehliadaní jej
    jednotlivých stránok nemusíte opätovne uvádzať.
  </p>
  <h2>Aké cookies používame?</h2>
  <p>Nevyhnutné cookies</p>
  <ul>
    <li>
      Cookie Consent - účelom je uchovávanie súhlasu používateľa pre našu webovú
      stránku (exspirácia 12 mesiacov od udelenia).
    </li>
  </ul>
  <p>Analytické a marketingové cookies</p>
  <ul>
    <li>
      Google Analytics - účelom je zhromažďovanie údajov o počte návštevníkov
      webovej stránky, dátumu prvej návštevy, dátumu najnovšej návštevy, a
      získavanie anonymizovaných štatistických údajov o používaní webovej
      stránky (exspirácia 24 mesiacov od udelenia).
    </li>
    <li>
      Google Tag Manager - účelom je zhromažďovanie dát za účelom analýzy
      návštevnosti a marketingovej optimalizácie (exspirácia 24 mesiacov od
      udelenia).
    </li>
    <li>
      Google AdWords - účelom je Identifikácia v rámci reklamnej siete Google
      AdWords, opätovné cielenie reklamy na základe akcie používateľa (tzv.
      remarketing; exspirácia 24 mesiacov od udelenia).
    </li>
    <li>
      Facebook Pixel - účelom je identifikácie v rámci reklamnej siete Facebook,
      opätovné cielenie reklamy na základe akcie používateľa (tzv. remarketing;
      exspirácia 24 mesiacov od udelenia).
    </li>
  </ul>
  <h2>Cookies a EÚ legislatíva</h2>
  <p>
    Zákon hovorí, že môžeme ukladať súbory cookie na vašom zariadení, ak sú
    nevyhnutné pre prevádzku týchto stránok (tzv. Nevyhnutné cookies). Pri
    všetkých ostatných typoch súborov cookies (napr. Analytické a marketingové
    cookies) potrebujeme váš súhlas. Táto webová stránka používa rôzne typy
    cookies. Niektoré cookies sú tu umiestnené službami tretích strán, ktoré sa
    objavujú na našich stránkach.
  </p>
  <h2>Ako používame súbory cookies?</h2>
  <p>
    Táto webová stránka používa súbory cookies na zhromažďovanie anonymných
    štatistických informácií o návštevníkoch, zapamätanie si používateľských
    nastavení, na lepšie prispôsobenie reklám záujmom návštevníkov a na jej
    nevyhnutnú funkcionalitu. Súbory cookies sa nebudú používať na iný účel, ako
    je uvedený. Udelený súhlas s použitím cookies môžete kedykoľvek zmeniť alebo
    odvolať na našej webovej stránke.
  </p>
  <h2>Ako kontrolovať súbory cookies?</h2>
  <p>
    Súbory cookies môžete kontrolovať a/alebo zmazať podľa uváženia –
    podrobnosti si pozrite na stránke
    <a href="https://aboutcookies.org/" target="_blank" rel="noopener"
      >aboutcookies.org</a
    >. Môžete vymazať všetky súbory cookies uložené vo svojom počítači a väčšinu
    prehliadačov môžete nastaviť tak, aby ste im znemožnili ich ukladanie. V
    takomto prípade však pravdepodobne budete musieť pri každej návšteve webovej
    stránky manuálne upravovať niektoré nastavenia a niektoré služby a funkcie
    nebudú správne alebo vôbec fungovať.
  </p>
  <h2>Kontaktujte nás</h2>
  <p>
    V prípade akýchkoľvek otázok nás neváhajte kontaktovať na:<br />
    freevision s. r. o., Staromestská 3, Bratislava - mestská časť Staré Mesto
    811 03
  </p>
</div>
