@import 'tailwindcss/base';
@import 'tailwindcss/components';

body {
  @apply subpixel-antialiased;
  @apply text-gray-dark;
  letter-spacing: 0.5px;
}

a {
  @apply text-blue hover:text-blue-dark;
}

h1,
h2,
h3,
h4 {
  @apply font-light text-black;
}

h1 {
  @apply text-4xl sm:text-3xl;
}

h2 {
  @apply text-3xl sm:text-2xl;
}

h3 {
  @apply text-2xl sm:text-xl;
}

#notice {
  @apply rounded-md overflow-hidden mb-5;
  @apply px-6 py-3 text-blue bg-blue-light;

  &:empty {
    @apply hidden;
  }
}

form {
  @apply shadow rounded-md overflow-hidden bg-white my-5;
}

#error_explanation {
  @apply px-6 py-6 text-red bg-red-light;

  ul {
    @apply list-disc list-inside;
  }
}

.field {
  @apply px-4 py-6 bg-white;

  & + .field {
    @apply pt-0;
  }
}

label {
  @apply block text-sm font-medium text-gray-dark;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  @apply mt-1;
  @apply focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm text-sm border-gray rounded-md;
}

[type="checkbox"] {
  @apply rounded text-blue border-blue focus:outline-none focus:ring-0;
}

.actions {
  @apply px-6 py-3 bg-gray-light;

  input[type='submit'] {
    @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }
}

.field_with_errors {
  label {
    @apply text-red;
  }

  input {
    @apply border-red text-red;
  }
}

//table {
//  @apply my-5;
//  @apply shadow overflow-hidden border-b border-gray-light sm:rounded-lg;
//  @apply min-w-full divide-y divide-gray-light;
//}
//
//thead {
//  @apply bg-gray-light;
//
//  th {
//    @apply px-6 py-3 text-left text-xs font-medium text-gray uppercase tracking-wider;
//  }
//}
//
//tbody {
//  @apply bg-white divide-y divide-gray-light;
//
//  td {
//    @apply px-6 py-4 whitespace-nowrap;
//  }
//}

a {
  @apply hover:underline;
}

#menu {
  .link {
    @apply text-blue hover:text-blue-dark border-transparent md:border-t-4 md:border-l-0 border-t-0 border-l-4 hover:no-underline px-3 py-2 text-sm font-medium;

    &-active {
      @apply text-blue border-blue;
    }
  }
}

.refresh-info--indicator-fresh {
  @apply text-green animate-pulse;
}

.refresh-info--indicator-old {
  @apply text-yellow animate-none;
}

.warning {
  a {
    @apply underline text-red hover:text-red;
  }
}

.jump-region {
  scroll-snap-type: x mandatory;

  a {
    scroll-snap-align: start;
    @apply text-sm font-medium text-black hover:text-blue hover:no-underline md:mr-0 md:mb-0 mr-4 mb-2 px-4 py-1 text-center leading-5;

    &.active {
      @apply bg-blue-light text-blue rounded-full;
    }
  }
}

.address-link {
  @apply text-sm text-gray;
}

.anchor {
  @apply block relative invisible -top-16;
}

.button {
  @apply bg-blue px-8 py-4 rounded-full text-sm text-white hover:text-white hover:bg-blue-dark hover:no-underline;
}

.button-small {
  @apply bg-blue px-4 py-2 rounded-full text-sm text-white hover:text-white hover:bg-blue-dark hover:no-underline;
}

.notifications-button {
  @apply rounded-full whitespace-nowrap py-1 px-3 inline-flex items-center space-x-1;

  &.enabled {
    @apply inline-flex;
  }

  &.disabled {
    @apply hidden;
  }

  &__icon {
    @apply inline h-4 fill-current;
  }

  &__label {
    @apply text-sm;
  }
}

.notification-info {
  @apply bg-blue-light ring-blue text-blue;

  button {
    @apply hover:text-blue-dark;
  }
}

.notification-danger {
  @apply bg-red-light ring-red text-red;

  button {
    @apply hover:text-red-dark;
  }
}

@keyframes shake {
  0%, 100% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }
}

.animate-shake {
  @apply origin-top;
  animation: shake 1s infinite;
}

@import 'tailwindcss/utilities';
