<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render 'head' %>
</head>
<body>
<div>
  <main>
    <div class="max-w-7xl mx-auto lg:px-8 px-2">
      <%= yield %>
    </div>
  </main>
</div>
</body>
</html>
